<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <h3>put product list table here</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>product.productName</td>
                        <td>product.productCode</td>
                        <td>product.releaseDate</td>
                        <td>product.price</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>