<ul class="nav nav-pills nav-stacked" *ngIf="node">
    <li class="presentation">
        <a href="javascript:void(0)">
            <div>
                <span [style.display]="(node.children.length && !node.isExpanded)? 'inline': 'none'">
                    <i class="glyphicon glyphicon-plus-sign" (click)="node.isExpanded= true"></i>
                </span>
                <span [style.display]="(node.children.length && node.isExpanded)? 'inline': 'none'">
                    <i class="glyphicon glyphicon-minus-sign" (click)="node.isExpanded= false"></i>
                </span>
                <span [style.display]="(node.isSelected)? 'inline': 'none'"
                    (click)="nodeClicked('unselect')">
                    <i class="glyphicon glyphicon-check"></i>
                    {{node.name}}
                </span>
                <span [style.display]="(!node.isSelected)? 'inline': 'none'"
                    (click)="nodeClicked('select')">
                    <i class="glyphicon glyphicon-unchecked"></i>
                    {{node.name}}
                </span>
            </div>
        </a>
    </li>
</ul>
<div class="tree" *ngIf="node && node.children.length && node.isExpanded">
    <ul class="nav nav-pills nav-stacked">
        <li class="presentation" *ngFor="let child of node.children">
            <tree-view [node]="child"></tree-view>
        </li>
    </ul>
</div>
